/* -------------FOOTER CLASS------------------------------ */
body {
	background-color: white;
}
.nav-class {
	>nav {
		>img {
			width: 35%;
		}
		>i {
			padding: 8px;
			float: right;
		}
		>div {
			display: none;
		}
	}
}
.sortingClass {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	>button {
		padding: 10px;
		margin-top: 5px;
	}
}
.DoctorClass {
	text-align: center;
	color: #fff;
	background-color: #fff;
	padding: 1rem;
	>.div-5 {
		text-align: left;
		color: #fff;
		background-color: #fff;
		border-style: groove;
		margin-bottom: 20px;
		>.doctor-img {
			>img {
				width: 100%;
				height: 350px;
			}
		}
		>.doctor-info {
			>p {
				margin-left: 30px;
				color: #021433;
				max-width: 100%;
			}
			>.multibutton {
				>button {
					width: auto;
					height: 40px;
					border-radius: 20px;
					background-color: #fff;
					color: grey;
					border-color: #ccc;
				}
			}
		}
		>.doctor-name {
			>H2 {
				color: #87ceeb;
				text-align: left;
				padding: 1px;
			}
		}
		>.button-class {
			>button {
				width: 200px;
				height: 40px;
				border-radius: 5px;
				background-color: #021433;
				color: #fff;
				border-color: darkblue;
				margin-left: 57px;
				margin-bottom: 20px;
				margin-top: 10px;
			}
		}
	}
}
h3 {
	font-size: 25px;
}
.side-info {
	display: none;
}
.HelpClass {
	padding: 2rem;
	background-color: #8fcaf1;
	text-align: center;
	>button {
		background-color: #0099ff;
		width: 15rem;
		height: 4rem;
		border: 0;
		border-radius: 9px;
		font-size: 19px;
		color: #fff;
	}
	>h2 {
		color: #fff;
	}
}
.footerClass {
	padding: 1rem;
	background-color: #021433;
	color: #fff;
	text-align: center;
	.h2 {
		color: white;
	}
	.p {
		color: #cccccc;
		font-size: 20px;
	}
	.footer {
		color: #636668;
		font-size: 12px;
	}
	.button {
		background-color: #0099ff;
		width: 15rem;
		height: 4rem;
		border: 0;
	}
	>.container8data {
		display: block;
	}
	>#footer_icon {
		display: none;
	}
}
@media only screen and (min-width:700px) {
	.nav-class {
		>nav {
			>img {
				width: 20%;
				margin-left: 10px;
			}
			>i {
				padding: 10px;
				float: right;
				margin-right: 40px;
			}
		}
	}
	.side-info {
		display: inline-block;
		>.side-info1 {
			border-bottom: 2px solid grey;
			>h3 {
				>.fa-search {
					&:before {
						content: "\f002";
						color: skyblue;
					}
				}
			}
		}
		>h2 {
			color: #87ceeb;
			padding: 1px;
		}
	}
	.DoctorClass {
		>.div-5 {
			display: grid;
			grid-template-columns: 70% 30%;
			grid-template-rows: 10% 70% 20%;
			margin-bottom: 0px;
			>.doctor-name {
				grid-column-start: 1;
				grid-column-end: 2;
				grid-row-start: 1;
				grid-row-end: 2;
			}
			>.doctor-info {
				grid-column-start: 1;
				grid-column-end: 2;
				grid-row-start: 2;
				grid-row-end: 3;
				grid-template-columns: 50% 50%;
				margin: 20px;
			}
			>.button-class {
				>button {
					grid-column-start: 1;
					grid-column-end: 2;
					grid-row-start: 3;
					grid-row-end: 4;
					margin-left: 30px;
				}
			}
			>.doctor-img {
				grid-column-start: 2;
				grid-column-end: 3;
				grid-row-start: 1;
				grid-row-end: 4;
			}
		}
	}
	.combine-class {
		display: flex;
	}
	.footerClass {
		padding: 1rem;
		background-color: white;
		color: black;
		margin-left: 50px;
		display: grid;
		grid-template-columns: 80% 20%;
		text-align: left;
		grid-template-rows: auto auto;
		>h2 {
			display: none;
		}
		>.datai {
			display: flex;
			align-items: flex-start;
			grid-column: 1/2;
			grid-row: 1/2;
			>p {
				margin-right: 1rem;
			}
		}
		>img {
			grid-column: 2/3;
			grid-row: 1/2;
		}
		>footer {
			grid-column: 1/2;
			grid-row: 2/3;
		}
		>#footer_icon {
			grid-column: 2/3;
			grid-row: 2/3;
		}
		>.dataii {
			display: none;
		}
	}
}
@media only screen and (min-width:1000px) {
	.nav-class {
		>nav {
			display: flex;
			justify-content: space-between;
			margin-left: 40px;
			align-items: center;
			>i {
				display: none;
				padding: 8px;
				float: right;
			}
			>.nav-classContent {
				display: flex;
				justify-content: space-between;
				width: 40%;
			}
			>.nav-classButton {
				display: flex;
				justify-content: center;
				>.nav-button-white {
					width: 140px;
					height: 40px;
					border-radius: 5px;
					background-color: #fff;
					color: rgba(3, 3, 66, 0.972);
					border-color: darkblue;
					margin: 10px;
				}
				>.nav-button {
					width: 140px;
					height: 40px;
					border-radius: 5px;
					background-color: #021433;
					color: #fff;
					border-color: darkblue;
					margin: 10px;
				}
			}
			>.logo {
				width: 10%;
			}
		}
	}
	.combine-class {
		display: flex;
		justify-content: space-between;
	}
	.DoctorClass {
		display: inline-block;
	}
	.HelpClass {
		display: grid;
		grid-template-columns: 70% 30%;
		text-align: left;
		grid-template-rows: auto auto;
		>h2 {
			margin-left: 40px;
			grid-column: 1/2;
			grid-row: 1/2;
		}
		>p {
			margin-left: 40px;
			grid-column: 1/2;
			grid-row: 2/3;
		}
		>button {
			margin-top: auto;
			margin-bottom: auto;
			grid-column: 2/3;
			grid-row: 1/3;
		}
	}
	.footerClass {
		>h2 {
			display: none;
		}
		>.dataii {
			display: none;
		}
	}
}
