body {
    background-color: white;
  }
  @font-face {
    font-family: LightFont;
    src: url(Nexa-Light.otf);
  }
  @font-face {
    font-family: BoldFont;
    src: url(Nexa-Bold.otf);
  }
  h1,h2{
    font-family: BoldFont;
  }
  h1{
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
  }
  h2{
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
  }
  p{
    font-family: LightFont;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    line-height: normal;
  }       